.mainWindow {
    -fx-pref-height: 1010px;
    -fx-max-height: 1010px;
    -fx-min-height: 1010px;
    -fx-pref-width: 1920px;
    -fx-max-width: 1920px;
    -fx-min-width: 1920px;
    -fx-background-color: grey;
}

/*.mainMenuBackground {*/
/*    -fx-background-image: url('../images/MainMenu.jpg');*/
/*    -fx-background-size: 100% 100%;*/
/*}*/

.mainMenuButton {
    -fx-transition: 1.5s ease;
    -fx-font-family: "Bell MT", sans-serif;
    -fx-font-size: 43;
}

.mainMenuButton:hover {
    -fx-fill: #062172;
    -fx-font-family: "Bell MT", sans-serif;
    -fx-font-size: 43;
}

.background {
    -fx-background-image: url('../images/game/MainBackground.png');
    -fx-background-size: 100% 100%;
}

.errorText {
    -fx-font-family: "Bell MT", sans-serif;
    -fx-font-size: 20;
    -fx-fill: darkred;
}

.labelStyle {
    -fx-font-family: "System", sans-serif;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2,0,0,1 );
    -fx-fill: #422ff2;
}

.playerInfoTextStyle1 {
    -fx-font-family: "System", sans-serif;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2,0,0,1 );
    -fx-fill: #3d7211;
    -fx-font-size: 16;
}

.playerInfoTextStyle2 {
    -fx-font-family: "System", sans-serif;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2,0,0,1 );
    -fx-fill: #422ff2;
    -fx-font-size: 16;
}

.imageStackPaneStyle1 {
    -fx-padding: 10;
    -fx-background-color: firebrick;
    -fx-background-radius: 20;
}

.clickableNode {
    -fx-stroke: transparent;
    -fx-stroke-width: 3;
}

.clickableNodePressed {
    -fx-stroke: #3d7211;
    -fx-stroke-width: 3;
}

.clickableNode:hover {
    -fx-stroke: #3d7211;
    -fx-stroke-width: 3;
}

.buttonStyle {
    -fx-font-family: "System", sans-serif;
    -fx-font-size: 16;
    -fx-text-fill: #422ff2;
    -fx-font-weight: bold;

    -fx-border-color: lightgrey;
    -fx-border-width: 2;
    -fx-border-radius: 20;

    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 20;

    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 2,0,0,1 );
}

.buttonStyle:hover {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 20;
}


.clickableNodeS {
    -fx-fill: rgba(255, 255, 255, 0.8);
}

.clickableNodePressedS {
    -fx-fill: rgba(255, 255, 255, 0.95);
}

.clickableNodeS:hover {
    -fx-fill: rgba(255, 255, 255, 0.95);
}

